.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .active-class {
    color: red;
  }
  
  .active {
    color: green;
  }
  
  .custom-active {
    background-color: deepskyblue;
    color: darkred;
  }