body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* from coolers: https://coolors.co/ */
  --orange-soda:#F06543;
  --platinum:#E8E9EB;
  --alabaster:#E0DFD5;
  --onyx:#313638;
  --sandy-brown: #F09D51;

  --cg-blue: #457695ff;
--onyx: #353739ff;
--light-gray: #d2d4dcff;
--silver-metallic: #acafb5ff;
--little-boy-blue: #4f9befff;
  
}

ul {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}



.card {
  background-color: var( --light-gray);
  margin: 1rem;
  width: 400px;
  box-shadow: 0 2px 2px var(--onyx), 0 6px 12px var(--onyx);
}

.card .img-container {
  height: 65%;
  background-color: var( --light-gray);
}

.card .img-container img {
  width: 100%;
  padding: 15px;
  margin-bottom: 5px;
  background-color: var( --light-gray);
}

.card .content {
  background-color: var( --light-gray);
  
}

.project-icons {
  padding: 5px;
}

.project-title {
  color: var(--cg-blue);
  font-weight: bold;
  font-size: large;
}

.project-description {
  color: var(--onyx);
  font-weight: bold;
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

.projects {

}
.title {
  margin: auto 30px; 
  padding: 10px;
  color: var(--onyx);
  font-weight: bold;
}