body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card {
  background-color: var(--platinum);
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--onyx), 0 6px 12px var(--onyx);
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--platinum);
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: var(--platinum);
}

.card .content {
  font-size: 18px;
  background-color: var(--platinum);
  color: var(--orange-soda);
  font-weight: bold;
  text-align: center;
}

#project-icon {
  background-color: var(--platinum);
  padding: 5px;
}

#topics {
  font-size: small;
  font-style: italic;
  color: var(--onyx);
}

#card-title {
  margin-top: 10px;
  color: var(--onyx);
  text-shadow: 1px 1px 6px var(--sandy-brown);
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}